@media only screen and (orientation: portrait) {
  .conteiner{
    position: fixed;
    height: auto;
    width: 100%;
    padding-bottom: 20%;
    left: 0;
    top: 0;
  }
  .menu{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 20%;
    margin-top: 0;
  }
  .btn{
    display: inline-block;
    margin: 0;
    width: 19.4%;
    padding-bottom: 19.4%;
    position: relative;
    top: 0;
    left: 0;
  }
.text{
  width: 40%;
  font-size: 16px;
  line-height: 21px;
}
.t1{
  top: 6%;
}
.h1, .h4, .h6, .h8{
   visibility: hidden;
}
.hair_conteiner_main{
  left: 65%;
}
.hair_conteiner{
  position: relative;
  width: 100%;
  margin-top: 90%;
  padding-bottom: 400%;
}
.hair{
  width: 70%;
  padding-bottom: 100%;
}
.foot{
  left: 80%;
  width: 20%;
  padding-bottom: 140%;
}

  .btn_fon{
      position: fixed;
      top: 0;
      left: 0%;
      width: 100%;
      padding-bottom: 19.5%;
      background-color: black;
        }
    }
  .octopus{
      width: 80%;
      padding-bottom: 60%;
    }
    h1{
      font-size: 70px;
      line-height: 75px;
    }
    h4{
      font-size: 30px;
      line-height: 35px;
    }
@media only screen and (min-width: 1024px) and (max-width: 1080px) {
  h2, h3{
    font-size: 17px;
    line-height: 22px;
  }


  .text{
    width: 33%;
  }
    }
@media only screen and (min-width: 1080px) and (max-width: 1280px) {
  h2, h3{
    font-size: 18px;
    line-height: 23px;
  }
    }
@media only screen and (min-width: 1280px) and (max-width: 1440px) {
  h2, h3{
    font-size: 20px;
    line-height: 25px;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1680px) {
      h2, h3{
        font-size: 24px;
        line-height: 29px;
      }
    }
@media only screen and (min-width: 1681px) {
  h2, h3{
    font-size: 30px;
    line-height: 35px;
  }
.text{
  width: 33%;
}
    }
