@import 'reset.css';
@font-face {
    font-family: "cyntho next bold";
    src: url("fonts/CynthoNext-Bold.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "cyntho next";
    src: url("fonts/CynthoNext-Light.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}
body{
  background-color: black;
}
h2, h1{
  color: white;
  font-family: 'cyntho next bold';
}
h3, h4{
  color: white;
  font-family: 'cyntho next';
}
h1{
  font-size: 90px;
  line-height: 95px;
}
h4{
  font-size: 40px;
  line-height: 45px;
}
.main {
  height: auto;
  position: relative;
}
.text{
  position: absolute;
  left: 5%;
  width: 30.5%;
  padding-bottom: 10%;
}
.t1{top: 3%;}
.t2{top: 20%;}
.t3{top: 21%;}
.t4{top: 50%;}


/* кнопки */
.brush_cursor{
cursor: url('https://raw.githubusercontent.com/demeetra/3modul/main/images/color_cursor.svg'), auto;
}
.color_cursor{

}
.cut_cursor{

}
.lupa_cursor{

}
.conteiner{
  position: absolute;
  transform: scale(1);
  height: 100%;
  width: 10%;
  left: 87.5%;
  top: 0;
  z-index: 1;
}
.menu{
  margin-top: 40%;
  position: sticky;
  position: -webkit-sticky;
  height: 20%;
  width: 100%;
  top: 1%;
  left: 30%;
}
.btn{
  position: relative;
  width: 90%;
  padding-bottom: 90%;
  margin-top: 5%;
  left: 5%;
  background-size: 100% 100%;

}
.lupa{
  -webkit-mask: url('https://raw.githubusercontent.com/demeetra/3modul/main/images/btn%20lupa.svg') top left / cover;
  background-color:#8B8B8B;
}
.color{
  -webkit-mask: url('https://raw.githubusercontent.com/demeetra/3modul/main/images/btn%20color.svg') top left / cover;
  background-color:#8B8B8B;
}
.brush{
  -webkit-mask: url('https://raw.githubusercontent.com/demeetra/3modul/main/images/btn%20brush.svg') top left / cover;
  background-color:#8B8B8B;
}
.cut{
  -webkit-mask: url('https://raw.githubusercontent.com/demeetra/3modul/main/images/btn%20cut.svg') top left / cover;
  background-color:#8B8B8B;
}
.zlo{
  -webkit-mask: url('https://raw.githubusercontent.com/demeetra/3modul/main/images/btn%20zlo.svg') top left / cover;
  background-color:#8B8B8B;
}

/* ноги */
.foot{
  position: relative;
  left: 60%;
  width: 10%;
  padding-bottom: 70%;
  background-image: url('images/foot1.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
/* волосы */
.hair_conteiner_main{
  position: absolute;
  left: 50%;
  top: 0;
  width: 30%;
  height: 100%;
}
.hair_conteiner{
  position: relative;
  width: 100%;
  margin-top: 58%;
  padding-bottom: 170%;
}
.h_c1{
margin-top: 16%;
}
.hair{
  top: 10%;
  position: absolute;
  width: 50%;
  padding-bottom: 100%;
}
.h1, .h4, .h6, .h8{
   left: 50%;
     visibility: visible;
}
.h2, .h3, .h5, .h7{
   left: 0%;
}
.volos{
  position: relative;
  top: auto;
  background-color: white;

}
.v1{
  margin-top: -15%;
  width: 100%;
  padding-bottom: 90%;
  -webkit-mask: url('https://raw.githubusercontent.com/demeetra/3modul/main/images/volos1.svg') top left / cover;
}
.v2{
  margin-top: -35%;
  width: 100%;
  padding-bottom: 90%;
  -webkit-mask: url('https://raw.githubusercontent.com/demeetra/3modul/main/images/volos2.svg') top left / cover;
}
.v3{
    width: 94%;
    padding-bottom: 25%;
  -webkit-mask: url('https://raw.githubusercontent.com/demeetra/3modul/main/images/volos3.svg') top left / cover;
}
.v4{
  width: 90%;
  padding-bottom: 33%;
  -webkit-mask: url('https://raw.githubusercontent.com/demeetra/3modul/main/images/volos4.svg') top left / cover;
}
/* рыбки */
.overflow_wrapper {
  position: absolute;
  width: 100%;
  height:100%;
  top: 0;
  overflow: hidden;
  pointer-events: none;
}
.fish{
  position: absolute;
  background-size: 100% 100%;
  background-color: black;
}
.pink{
  background-color:#E72174;
}
.yellow{
  background-color:#FAB334;
}
.green{
  background-color:#95C11F;
}
.white{
  background-color:white;
}
.animation1{
    animation: move1 20s infinite linear;
}
.animation2{
    animation: move2 10s infinite linear;
}
.animation3{
    animation: move3 10s infinite linear;
}
.animation4{
    animation: move4 20s infinite linear;
}
.animation5{
    animation: move5 10s infinite linear;
}
.animation6{
    animation: move6 20s infinite linear;
}
.animation7{
    animation: move7 20s infinite linear;
}



@keyframes move1 {
  0%{left: -20%;}
  50%{left: 40%;}
  100%{left: 120%;}
}
@keyframes move2 {
  0%{left: -50%;}
  50%{left: 20%;}
  100%{left: 110%;}
}
@keyframes move3 {
  0%{left: -80%;}
  50%{left: 60%;}
  100%{left: 110%;}
}
@keyframes move4 {
  0%{left: -30%;}
  50%{left: 50%;}
  100%{left: 110%;}
}
@keyframes move5 {
  0%{left: -50%;}
  50%{left: 70%;}
  100%{left: 110%;}
}
@keyframes move6 {
  0%{left: -100%;}
  50%{left: 10%;}
  100%{left: 110%;}
}
@keyframes move7 {
  0%{left: -20%;}
  50%{left: 10%;}
  100%{left: 110%;}
}
@keyframes zlo {
  0%{left: -20%;}
  100%{left: 110%;}
}
.fish1{
  -webkit-mask: url('https://raw.githubusercontent.com/demeetra/3modul/main/images/fish1.svg') top left / cover;
  width: 14%;
  padding-bottom: 9%;
}
.fish2{
    -webkit-mask: url('https://raw.githubusercontent.com/demeetra/3modul/main/images/fish2.svg') top left / cover;
    width: 15.1%;
    padding-bottom: 9%;
}
.fish3{
  -webkit-mask: url('https://raw.githubusercontent.com/demeetra/3modul/main/images/fish3.svg') top left / cover;
  width: 11%;
  padding-bottom: 9%;
}
.fish4{
  -webkit-mask: url('https://raw.githubusercontent.com/demeetra/3modul/main/images/fish4.svg') top left / cover;
  width: 13%;
  padding-bottom: 9%;
}
.fish5{
  -webkit-mask: url('https://raw.githubusercontent.com/demeetra/3modul/main/images/ugor.svg') top left / cover;
  width: 70%;
  padding-bottom: 11%;
}
.zlofish{
  -webkit-mask: url('https://raw.githubusercontent.com/demeetra/3modul/main/images/zlofish.svg') top left / cover;
  width: 30%;
  animation: zlo 1s infinite linear;
  background-color: white;
  padding-bottom: 18.5%;
  z-index: 1;
}
.f1{top: 10%;}
.f2{top: 18%;}
.f3{top: 22%;}
.f4{top: 25%;}
.f5{top: 35%;}
.f6{top: 37%;}
.f7{top: 38%;}
.f8{top: 41%;}
.f9{top: 45%;}
.f10{top: 46%;}
.f11{top: 50%;}
.f12{top: 52%;}
.f13{top: 58%;}
.f14{top: 60%;}
.f15{top: 70%;}
.f16{top: 71%;}
.f17{top: 78%;}
.f18{top: 80%;}
.f19{top: 65%;}
.f20{top: 69%;}
.f21{top: 75%;}
.f22{top: 78%;}
.f23{top: 80%;}
.f24{top: 85%;}
.f25{top: 90%;}
.f26{top: 80%;}
.f27{top: 80%;}
.f28{top: 80%;}
.f29{top: 80%;}
.f30{top: 80%;}
.f31{top: 80%;}
.f32{top: 89%;}
.f33{top: 90%;}
.f34{top: 91%;}
.f35{top: 92%;}
.f36{top: 93%;}
.f37{top: 94%;}
.f38{top: 95%;}
.f39{top: 96%;}
.f40{top: 97%;}
.f20{top: 69%;}
.f21{top: 75%;}
.f22{top: 78%;}
.f23{top: 80%;}
.f24{top: 85%;}
.f25{top: 90%;}
.f26{top: 80%;}
.f27{top: 80%;}
.f28{top: 80%;}
.f29{top: 80%;}
.f30{top: 80%;}
.f31{top: 80%;}
.f32{top: 89%;}
.f33{top: 90%;}
.f34{top: 91%;}
.f35{top: 92%;}
.f36{top: 93%;}
.f37{top: 94%;}
.f38{top: 95%;}
.f39{top: 96%;}
.f40{top: 97%;}
.f41{top: 80%;}
.f42{top: 85%;}
.f43{top: 95%;}

.game_over{
  visibility: hidden;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 20%;
  width: 60%;
  padding-bottom: 30%;
}
p{
  cursor: pointer;
}
/* подвал */
.dno{
  position: relative;
  width: 100%;
  padding-bottom: 10%;
  background-image: url('images/dno.svg');
  background-size: 100% 100%;
}
.octopus{
  position: relative;
  width: 40%;
  padding-bottom: 30%;
  background-image: url('images/octopus.svg');
  background-size: 100% 100%;
}
