body{
  background-color: black;
  overflow-x: hidden;

}
.main{
  position: relative;
}
/* кнопки */
.conteiner{
  position: absolute;
  transform: scale(1);
  height: 240%;
  width: 10%;
  left: 80%;  z-index: 1;
}
.menu{
  margin-top: 40%;
  position: sticky;
  height: 20%;
  width: 100%;
  top: 1%;
  left: 30%;
}
.btn{
  position: relative;
  width: 90%;
  padding-bottom: 10%;
  left: 85%;
  background-size: 100% 100%;


}

.lupa{

}
.color{

}
.brush{

}
.cut{

}
.zlo{

}
/* ноги */
.foot{
  position: relative;
  left: 60%;
  width: 10%;
  /* height: 600px; */
  padding-bottom: 70%;
  background-image: url('images/foot1.svg');
  background-size: 100% 100%;
}

/* волосы */
.hair_conteiner_main{
  position: absolute;
  left: 50%;
  top: 0;
  width: 30%;
  padding-bottom: 200%;
  /* background-color: #34e357;
  opacity: .5; */

}
.hair_conteiner{
  position: relative;
  width: 100%;
  margin-top: 58%;
  padding-bottom: 170%;
  /* background-color: #362654;
  opacity: .2; */
}
.h_c1{
margin-top: 16%;
}
.hair{
  position: absolute;
  background-color: white;
  width: 50%;
  padding-bottom: 100%;
  opacity: .2;
}
.h1{
   top: 0%;
   left: 50%;
}
.h2{
   top: 30%;
   left: 0%;
}
.h3{
   top: 10%;
   left: 0%;
}
.h4{
   top: 40%;
   left: 50%;
}
.h5{
   top: 40%;
   left: 0%;
}
.h6{
   top: 0%;
   left: 50%;
}
.h7{
   top: 0%;
   left: 0%;
}
.h8{
   top: 40%;
   left: 50%;
}

/* рыбки */
@keyframes move1 {
  0%{left: -20%;}
  50%{left: 40%;}
  100%{left: 120%;}
}
@keyframes move2 {
  0%{left: -20%;}
  50%{left: 20%;}
  100%{left: 110%;}
}
@keyframes move3 {
  0%{left: -20%;}
  50%{left: 30%;}
  100%{left: 110%;}
}
@keyframes move4 {
  0%{left: -20%;}
  50%{left: 50%;}
  100%{left: 110%;}
}

.fish{
  position: absolute;
  width: 20%;
  height: 100px;
  background-size: 100% 100%;
  background-color: red;
  clip-path: url('https://raw.githubusercontent.com/demeetra/3modul/main/images/fish1.svg');
}


.fish1{

  animation: move1 10s infinite linear;

}

.fish2{
    animation: move2 7s infinite linear;
}
.fish3{
  animation: move3 8s infinite linear;
}
.fish4{
  animation: move4 10s infinite linear;
}
.f1{
  top: 30%;
}
.f2{
  top: 50%;
}
.f3{
  top: 60%;
}
.f4{
  top: 100%;
}
.f5{
  top: 140%;
}
.f6{
  top: 170%;
}
.f7{
  top: 190%;
}
.f8{
  top: 178%;
}
.f9{
  top: 180%;
}
.f10{
  top: 185%;
}
.f11{
  top: 190%;
}
.f12{
  top: 194%;
}
.f13{
  top: 200%;
}
.f14{
  top: 190%;
}
/* подвал */
.dno{
  position: relative;
  width: 100%;
  height: 100px;
  background-image: url('images/dno.svg');
  background-size: 100% 100%;
}
.octopus{
  position: relative;
  width: 60%;
  height: 400px;
  background-image: url('images/octopus.svg');
  background-size: 100% 100%;

}
