@charset "UTF-8";
.magnify {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.element_to_magnify {
}
.magnified_element {
   background-color: black;
}
.magnify_glass {
  z-index: 300;
  position: absolute;
  width: 20%;
  padding-bottom: 20%;
  cursor: move;
  visibility: hidden;
}
.mg_ring {
  pointer-events: none;
  background:none;
  position: absolute;
  box-shadow:         inset 0 0 10px #000000;
  border: 4px solid #CCC;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  z-index: 20;
}
.mg_zone {
  position: absolute;
  border-radius: 50%;
  top:0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow:hidden;
}

.pm_btn {
  border: 4px solid #CCC;
  z-index: 30;
  color: #333;
  position: absolute;
  width: 1.2vw;

  background-color: #fff;
  border-radius: 50%;
}
.pm_btn h2{
  text-align: center;
  user-select: none;
  cursor: pointer;
  color: black;
  text-align: center;
  font-size: 1.2vw;
  line-height: 1.2vw;
}
.minus {
  right: -4%;
  bottom: 14%;
}
.plus {
  right: 8%;
  bottom: -0%;
}

.button {
  width:30px;
  height: 30px;
  padding-top: 5px;
  overflow: hidden;
  border-radius: 50%;
  background-color: rgba(50, 50, 50, .5);
  position: absolute;
  text-indent: -999em;
  border:solid black 1px;
}
